
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# If above doesn't work, try this alternate version:
# <IfModule mod_rewrite.c>
#   RewriteEngine On
#   RewriteBase /
#   RewriteCond %{REQUEST_URI} !^/index.html
#   RewriteCond %{REQUEST_FILENAME} !-f
#   RewriteCond %{REQUEST_FILENAME} !-d
#   RewriteRule ^(.*)$ /index.html [L,QSA]
# </IfModule>
